<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="internal-artifactory" value="https://your-artifactory.example.com/artifactory/api/nuget/nuget-v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <internal-artifactory>
      <add key="Username" value="%NUGET_ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%NUGET_ARTIFACTORY_PASSWORD%" />
    </internal-artifactory>
  </packageSourceCredentials>
</configuration>
